.resume{
    height: 100%;
    overflow: auto;

}
iframe{
    width: 100%;
    height: 100%;
}
*::-webkit-scrollbar{
    width: 8px;

}
*::-webkit-scrollbar-thumb{
        background-color: #3a3939;
        border-radius: 1rem;

}