*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  
}

html,body,#root{
    height: 100%;
    width: 100%;

}
main{
height: 100%;
width: 100%;
background-image:url(/public/bg.jpg);
 object-fit:cover ;
 background-size: cover;        /* THIS makes it full */
  background-position: center;   /* Center image */
  background-repeat: no-repeat;
overflow: hidden;
position: absolute;
}
body{
    background-color: black;
    font-family:  "SF Mono", Menlo, Monaco, Consolas, monospace;
}